
<%- include('./partial/_header.ejs'); %>

  <div class="container mt-5">
    <h1>Performance Review Details</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Performance Review Title</h5>
        <p class="card-text">Title: <%= performanceReview.title %></p>
        <p class="card-text">Description: <%= performanceReview.description %></p>
      </div>
    </div>
  </div>


  <%- include('./partial/_footer.ejs'); %>